.elementor-61 .elementor-element.elementor-element-410ad4c7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-61 .elementor-element.elementor-element-68d2175b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: var( --e-global-color-bcf4dba );
    --border-color: var( --e-global-color-bcf4dba );
    --border-radius: 25px 25px 25px 25px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-61 .elementor-element.elementor-element-68d2175b:not(.elementor-motion-effects-element-type-background), .elementor-61 .elementor-element.elementor-element-68d2175b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-147d839 );
}

.elementor-61 .elementor-element.elementor-element-cda564f {
    --display: flex;
    --justify-content: center;
}

.elementor-61 .elementor-element.elementor-element-2c92fd1c {
    text-align: left;
}

.elementor-61 .elementor-element.elementor-element-2c92fd1c img {
    width: 40%;
}

.elementor-61 .elementor-element.elementor-element-74908113 {
    --display: flex;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-container {
    height: 100px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    line-height: var( --e-global-typography-primary-line-height );
    color: var( --e-global-color-primary );
    padding: 0px 15px 0px 15px;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a:hover {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a:focus {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a:active {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li:hover > a {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li:hover > a .elementskit-submenu-indicator {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a:hover .elementskit-submenu-indicator {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a:focus .elementskit-submenu-indicator {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a:active .elementskit-submenu-indicator {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li.current-menu-item > a {
    color: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li.current-menu-ancestor > a {
    color: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li.current-menu-ancestor > a .elementskit-submenu-indicator {
    color: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a .elementskit-submenu-indicator {
    color: var( --e-global-color-e850821 );
    fill: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a .ekit-submenu-indicator-icon {
    color: var( --e-global-color-e850821 );
    fill: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li > a {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    line-height: var( --e-global-typography-primary-line-height );
    padding: 5px 20px 5px 20px;
    color: var( --e-global-color-primary );
    background-color: var( --e-global-color-147d839 );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li > a:hover {
    color: #707070;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li > a:focus {
    color: #707070;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li > a:active {
    color: #707070;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li:hover > a {
    color: #707070;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li.current-menu-item > a {
    color: #707070 !important;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-submenu-panel {
    padding: 10px 0px 10px 0px;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-bcf4dba );
    background-color: var( --e-global-color-147d839 );
    border-radius: 20px 20px 20px 20px;
    min-width: 160px;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-hamburger {
    float: right;
    background-color: var( --e-global-color-e850821 );
    border-style: none;
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-hamburger > .ekit-menu-icon {
    color: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-hamburger:hover > .ekit-menu-icon {
    color: rgba(0, 0, 0, 0.5);
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-close {
    background-color: var( --e-global-color-e850821 );
    border-style: solid;
    border-color: var( --e-global-color-e850821 );
    color: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-close:hover {
    background-color: var( --e-global-color-b9ab9b6 );
    border-style: solid;
    border-color: var( --e-global-color-e850821 );
    color: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-243d140 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-61 .elementor-element.elementor-element-6e0da1da {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-61 .elementor-element.elementor-element-e5f31ff {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_navsearch-button {
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 28px;
    height: 0px;
    line-height: 2px;
    text-align: center;
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_navsearch-button svg {
    max-width: 20px;
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_navsearch-button, .elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-button i {
    color: var( --e-global-color-primary );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_navsearch-button svg path, .elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-button svg path {
    stroke: var( --e-global-color-primary );
    fill: var( --e-global-color-primary );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_navsearch-button:hover, .elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-button:hover i {
    color: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_navsearch-button:hover svg path, .elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-button:hover svg path {
    stroke: var( --e-global-color-e850821 );
    fill: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_modal-searchPanel .ekit-search-group input:not([type="submit"]) {
    background-color: var( --e-global-color-b9ab9b6 );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-bcf4dba );
    border-radius: 25px 25px 25px 25px;
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_modal-searchPanel .ekit-search-group input:not([type=submit]), .elementor-61 .elementor-element.elementor-element-7ec7f933 button.mfp-close {
    border-color: var( --e-global-color-bcf4dba );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_modal-searchPanel .ekit-search-group .ekit_search-button, .elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit-promo-popup .mfp-close, .elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-field {
    color: var( --e-global-color-bcf4dba );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-field::-webkit-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-field::-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-field:-ms-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit_search-field:-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .mfp-bg.ekit-promo-popup {
    background-color: var( --e-global-color-3ef9006 );
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit-promo-popup .mfp-close {
    height: 20px;
    width: 20px;
    line-height: 20px;
}

.elementor-61 .elementor-element.elementor-element-7ec7f933 .ekit-promo-popup .mfp-close:hover {
    width: 20px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit-sidebar-group {
    --transition-duration: 0.5s;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button {
    color: var( --e-global-color-primary );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button svg path {
    stroke: var( --e-global-color-primary );
    fill: var( --e-global-color-primary );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button:hover {
    color: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button:hover svg path {
    stroke: var( --e-global-color-e850821 );
    fill: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button i {
    font-size: 30px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button svg {
    max-width: 30px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_navSidebar-button, .elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_social_media ul > li:last-child {
    padding: 6px 5px 0px 5px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_close-side-widget {
    color: var( --e-global-color-primary );
    background-color: var( --e-global-color-b9ab9b6 );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-e850821 );
    border-radius: 25% 25% 25% 25%;
    padding: 12px 15px 12px 15px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_close-side-widget svg path {
    stroke: var( --e-global-color-primary );
    fill: var( --e-global-color-primary );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_close-side-widget:hover {
    color: var( --e-global-color-e850821 );
    border-color: var( --e-global-color-bcf4dba );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_close-side-widget:hover svg path {
    stroke: var( --e-global-color-e850821 );
    fill: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_close-side-widget i {
    font-size: 15px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit_close-side-widget svg {
    max-width: 15px;
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit-wid-con .ekit-sidebar-widget {
    max-width: 410px;
    background-color: transparent;
    background-image: radial-gradient(at top left, var( --e-global-color-bcf4dba ) 0%, var( --e-global-color-147d839 ) 50%);
}

.elementor-61 .elementor-element.elementor-element-76fd05c3 .ekit-wid-con .ekit_sidebar-textwidget {
    padding: 100px 30px 0px 30px;
}

.elementor-61 .elementor-element.elementor-element-7b729c06 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    --border-radius: 100px 100px 100px 100px;
    box-shadow: -3px -3px 7px 0px rgba(200.00000000000006, 42, 238.99999999999997, 0.44);
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-61 .elementor-element.elementor-element-7b729c06:not(.elementor-motion-effects-element-type-background), .elementor-61 .elementor-element.elementor-element-7b729c06 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-147d839 );
}

.elementor-61 .elementor-element.elementor-element-7b729c06:hover {
    --border-radius: 100px 100px 100px 100px;
    --border-top-left-radius: 100px;
    --border-top-right-radius: 100px;
    --border-bottom-right-radius: 100px;
    --border-bottom-left-radius: 100px;
    box-shadow: 3px 3px 7px 0px rgba(200.00000000000006, 42, 238.99999999999997, 0.44);
}

.elementor-61 .elementor-element.elementor-element-7b729c06, .elementor-61 .elementor-element.elementor-element-7b729c06::before {
    --border-transition: 0.6s;
}

.elementor-61 .elementor-element.elementor-element-2d76e89e {
    --display: flex;
    --min-height: 59px;
    --justify-content: center;
    --border-radius: 100px 100px 100px 100px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-61 .elementor-element.elementor-element-2d76e89e:not(.elementor-motion-effects-element-type-background), .elementor-61 .elementor-element.elementor-element-2d76e89e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-e850821 );
}

.elementor-61 .elementor-element.elementor-element-251b53ff .elementor-icon-wrapper {
    text-align: center;
}

.elementor-61 .elementor-element.elementor-element-251b53ff.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-251b53ff.elementor-view-framed .elementor-icon, .elementor-61 .elementor-element.elementor-element-251b53ff.elementor-view-default .elementor-icon {
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-251b53ff.elementor-view-framed .elementor-icon, .elementor-61 .elementor-element.elementor-element-251b53ff.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-accent );
}

.elementor-61 .elementor-element.elementor-element-251b53ff .elementor-icon {
    font-size: 30px;
}

.elementor-61 .elementor-element.elementor-element-251b53ff .elementor-icon svg {
    height: 30px;
}

.elementor-61 .elementor-element.elementor-element-251b53ff > .elementor-widget-container {
    margin: 0px 0px -6px 0px;
}

.elementor-61 .elementor-element.elementor-element-a0748c6 {
    --display: flex;
}

@media(max-width: 1024px) {
    .elementor-61 .elementor-element.elementor-element-410ad4c7 {
        --padding-top:30px;
        --padding-bottom: 30px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-61 .elementor-element.elementor-element-68d2175b {
        --flex-wrap: wrap;
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-61 .elementor-element.elementor-element-cda564f {
        --justify-content: center;
    }

    .elementor-61 .elementor-element.elementor-element-2c92fd1c img {
        width: 80%;
    }

    .elementor-61 .elementor-element.elementor-element-74908113 {
        --justify-content: center;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-container {
        background-color: var( --e-global-color-147d839 );
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
        color: var( --e-global-color-accent );
        padding: 10px 15px 10px 15px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li > a {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
        padding: 15px 15px 15px 15px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-hamburger {
        padding: 15px 10px 15px 10px;
        width: 45px;
        border-radius: 10px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-close {
        padding: 10px 0px 10px 0px;
        margin: 5px 15px 0px 0px;
        width: 45px;
        border-radius: 10px;
        border-width: 1px 1px 1px 1px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-menu-close:hover {
        border-width: 1px 1px 1px 1px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-nav-logo > img {
        max-width: 135px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-nav-logo {
        margin: 5px 0px 0px 20px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-61 .elementor-element.elementor-element-7b729c06 {
        --flex-wrap: wrap;
    }

    .elementor-61 .elementor-element.elementor-element-2d76e89e {
        --min-height: 53px;
    }
}

@media(max-width: 767px) {
    .elementor-61 .elementor-element.elementor-element-410ad4c7 {
        --padding-top:20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-61 .elementor-element.elementor-element-cda564f {
        --width: 50%;
        --justify-content: center;
    }

    .elementor-61 .elementor-element.elementor-element-2c92fd1c img {
        width: 91%;
    }

    .elementor-61 .elementor-element.elementor-element-74908113 {
        --width: 50%;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav > li > a {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-navbar-nav .elementskit-submenu-panel > li > a {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-61 .elementor-element.elementor-element-243d140 .elementskit-nav-logo > img {
        max-width: 120px;
        max-height: 50px;
    }

    .elementor-61 .elementor-element.elementor-element-243d140 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-61 .elementor-element.elementor-element-7b729c06 {
        --width: 186px;
        --justify-content: space-between;
    }

    .elementor-61 .elementor-element.elementor-element-2d76e89e {
        --width: 46px;
        --min-height: 46px;
    }

    .elementor-61 .elementor-element.elementor-element-a0748c6 {
        --width: 130px;
    }
}

@media(min-width: 768px) {
    .elementor-61 .elementor-element.elementor-element-cda564f {
        --width:30%;
    }

    .elementor-61 .elementor-element.elementor-element-74908113 {
        --width: 40%;
    }

    .elementor-61 .elementor-element.elementor-element-6e0da1da {
        --width: 30%;
    }

    .elementor-61 .elementor-element.elementor-element-e5f31ff {
        --width: 36%;
    }

    .elementor-61 .elementor-element.elementor-element-7b729c06 {
        --width: 270px;
    }

    .elementor-61 .elementor-element.elementor-element-2d76e89e {
        --width: 59px;
    }

    .elementor-61 .elementor-element.elementor-element-a0748c6 {
        --width: 180px;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-61 .elementor-element.elementor-element-cda564f {
        --width:30%;
    }

    .elementor-61 .elementor-element.elementor-element-74908113 {
        --width: 70%;
    }

    .elementor-61 .elementor-element.elementor-element-6e0da1da {
        --width: 100%;
    }

    .elementor-61 .elementor-element.elementor-element-7b729c06 {
        --width: 208px;
    }

    .elementor-61 .elementor-element.elementor-element-2d76e89e {
        --width: 53px;
    }

    .elementor-61 .elementor-element.elementor-element-a0748c6 {
        --width: 145px;
    }
}
