.elementor-67 .elementor-element.elementor-element-95036a2 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --border-radius: 100px 100px 100px 100px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
}

.elementor-67 .elementor-element.elementor-element-95036a2:not(.elementor-motion-effects-element-type-background), .elementor-67 .elementor-element.elementor-element-95036a2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-secondary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input {
    padding: 23px 20px 23px 20px;
    border-radius: 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-file-upload-label {
    padding: 23px 20px 23px 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total {
    padding: 23px 20px 23px 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_select__control, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__control .mf_multiselect__value-container, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options {
    padding: 23px 20px 23px 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .range-slider {
    padding: 23px 20px 23px 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input, .elementor-67 .elementor-element.elementor-element-54f3da86 .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-bar, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-from, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-to, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-single {
    background-color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-handle {
    border-color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-from:before, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-to:before, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-single:before {
    border-top-color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_select__single-value {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper {
    border-color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .input-range__track--active {
    background-color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: var( --e-global-color-primary );
    border-color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-primary );
    fill: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value__remove,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value__remove,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-multiselect .mf_multiselect__control {
    background-color: var( --e-global-color-b9ab9b6 );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-select > .mf_select__control, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-multiselect .mf_multiselect__control, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:hover, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-handle:hover {
    border-color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-file-upload-label:hover {
    color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:hover .mf_select__single-value {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-primary );
    fill: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options:hover {
    color: var( --e-global-color-primary );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:hover, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container:hover .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total:hover,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option:hover, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options:hover {
    background-color: var( --e-global-color-b9ab9b6 );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:focus, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-handle:focus {
    border-color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container:focus .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container:focus .mf-image-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total:focus {
    color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input > .mf_select__control--is-focused .mf_select__single-value {
    color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: var( --e-global-color-accent );
    fill: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total:focus, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option:focus, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options:focus {
    color: var( --e-global-color-accent );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:focus, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input > .mf_select__control--menu-is-open, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container:focus .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total:focus,.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total:focus, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option:focus, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options:focus {
    background-color: var( --e-global-color-b9ab9b6 );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-single, .elementor-67 .elementor-element.elementor-element-54f3da86 .asRange .asRange-pointer .asRange-tip, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .input-range__label-container {
    font-family: var( --e-global-typography-a8a6ad5-font-family ), Sans-serif;
    font-size: var( --e-global-typography-a8a6ad5-font-size );
    font-weight: var( --e-global-typography-a8a6ad5-font-weight );
    line-height: var( --e-global-typography-a8a6ad5-line-height );
    letter-spacing: var( --e-global-typography-a8a6ad5-letter-spacing );
    word-spacing: var( --e-global-typography-a8a6ad5-word-spacing );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .input-range .input-range__track {
    border-radius: 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total {
    border-radius: 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-select > .mf_select__control, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-multiselect .mf_multiselect__control, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__option, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value__label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__multi-value__remove, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf_multiselect__menu-notice--no-options {
    border-radius: 20px;
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-time-input::before {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input::-webkit-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input::-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:-ms-input-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input:-moz-placeholder {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: var( --e-global-color-text );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 .mf-error-message {
    color: #FF0000;
    font-family: var( --e-global-typography-a8a6ad5-font-family ), Sans-serif;
    font-size: var( --e-global-typography-a8a6ad5-font-size );
    font-weight: var( --e-global-typography-a8a6ad5-font-weight );
    line-height: var( --e-global-typography-a8a6ad5-line-height );
    letter-spacing: var( --e-global-typography-a8a6ad5-letter-spacing );
    word-spacing: var( --e-global-typography-a8a6ad5-word-spacing );
}

.elementor-67 .elementor-element.elementor-element-54f3da86 {
    width: var( --container-widget-width, 50% );
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-67 .elementor-element.elementor-element-35d0390 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    --border-radius: 100px 100px 100px 100px;
    box-shadow: -3px -3px 7px 0px rgba(0, 151, 167, 0.3);
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 5px;
    --padding-right: 5px;
}

.elementor-67 .elementor-element.elementor-element-35d0390:not(.elementor-motion-effects-element-type-background), .elementor-67 .elementor-element.elementor-element-35d0390 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-147d839 );
}

.elementor-67 .elementor-element.elementor-element-35d0390:hover {
    --border-radius: 100px 100px 100px 100px;
    --border-top-left-radius: 100px;
    --border-top-right-radius: 100px;
    --border-bottom-right-radius: 100px;
    --border-bottom-left-radius: 100px;
    box-shadow: 3px 3px 7px 0px rgba(0, 151, 167, 0.3);
}

.elementor-67 .elementor-element.elementor-element-35d0390, .elementor-67 .elementor-element.elementor-element-35d0390::before {
    --border-transition: 0.6s;
}

.elementor-67 .elementor-element.elementor-element-35d0390.e-con {
    --align-self: flex-end;
}

.elementor-67 .elementor-element.elementor-element-6ca32091 {
    --display: flex;
}

.elementor-67 .elementor-element.elementor-element-654ed55d .mf-btn-wraper {
    text-align: justify;
}

.elementor-67 .elementor-element.elementor-element-654ed55d .metform-btn {
    padding: 20px 20px 20px 20px;
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
    color: var( --e-global-color-primary );
    background-color: var( --e-global-color-b9ab9b6 );
    border-style: none;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.elementor-67 .elementor-element.elementor-element-654ed55d .metform-btn:hover {
    color: var( --e-global-color-e850821 );
    background-color: var( --e-global-color-b9ab9b6 );
}

.elementor-67 .elementor-element.elementor-element-654ed55d .metform-btn:focus {
    color: var( --e-global-color-e850821 );
    background-color: var( --e-global-color-b9ab9b6 );
}

.elementor-67 .elementor-element.elementor-element-29584e54 {
    --display: flex;
    --min-height: 59px;
    --justify-content: center;
    --border-radius: 100px 100px 100px 100px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-67 .elementor-element.elementor-element-29584e54:not(.elementor-motion-effects-element-type-background), .elementor-67 .elementor-element.elementor-element-29584e54 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var( --e-global-color-e850821 );
}

.elementor-67 .elementor-element.elementor-element-72bf4cf4 {
    text-align: center;
}

.elementor-67 .elementor-element.elementor-element-72bf4cf4 img {
    width: 35%;
}

.elementor-67 .elementor-element.elementor-element-72bf4cf4 > .elementor-widget-container {
    margin: -3px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

@media(max-width: 1024px) {
    .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-single, .elementor-67 .elementor-element.elementor-element-54f3da86 .asRange .asRange-pointer .asRange-tip, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .input-range__label-container {
        font-size:var( --e-global-typography-a8a6ad5-font-size );
        line-height: var( --e-global-typography-a8a6ad5-line-height );
        letter-spacing: var( --e-global-typography-a8a6ad5-letter-spacing );
        word-spacing: var( --e-global-typography-a8a6ad5-word-spacing );
    }

    .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-error-message {
        font-size: var( --e-global-typography-a8a6ad5-font-size );
        line-height: var( --e-global-typography-a8a6ad5-line-height );
        letter-spacing: var( --e-global-typography-a8a6ad5-letter-spacing );
        word-spacing: var( --e-global-typography-a8a6ad5-word-spacing );
    }

    .elementor-67 .elementor-element.elementor-element-54f3da86 {
        --container-widget-width: 60%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 60% );
        max-width: 60%;
    }

    .elementor-67 .elementor-element.elementor-element-35d0390 {
        --flex-wrap: wrap;
    }

    .elementor-67 .elementor-element.elementor-element-654ed55d .mf-btn-wraper {
        text-align: justify;
    }

    .elementor-67 .elementor-element.elementor-element-654ed55d .metform-btn {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-67 .elementor-element.elementor-element-29584e54 {
        --min-height: 53px;
    }
}

@media(max-width: 767px) {
    .elementor-67 .elementor-element.elementor-element-95036a2 {
        --gap:10px 0px;
        --row-gap: 10px;
        --column-gap: 0px;
        --border-radius: 35px 35px 35px 35px;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }

    .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input, .elementor-67 .elementor-element.elementor-element-54f3da86 .irs--round .irs-single, .elementor-67 .elementor-element.elementor-element-54f3da86 .asRange .asRange-pointer .asRange-tip, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-file-upload-container .mf-input-file-upload-label, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-calculation-total, .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-input-wrapper .input-range__label-container {
        font-size: var( --e-global-typography-a8a6ad5-font-size );
        line-height: var( --e-global-typography-a8a6ad5-line-height );
        letter-spacing: var( --e-global-typography-a8a6ad5-letter-spacing );
        word-spacing: var( --e-global-typography-a8a6ad5-word-spacing );
    }

    .elementor-67 .elementor-element.elementor-element-54f3da86 .mf-error-message {
        font-size: var( --e-global-typography-a8a6ad5-font-size );
        line-height: var( --e-global-typography-a8a6ad5-line-height );
        letter-spacing: var( --e-global-typography-a8a6ad5-letter-spacing );
        word-spacing: var( --e-global-typography-a8a6ad5-word-spacing );
    }

    .elementor-67 .elementor-element.elementor-element-54f3da86 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100% );
        max-width: 100%;
    }

    .elementor-67 .elementor-element.elementor-element-35d0390 {
        --width: 100%;
        --justify-content: space-between;
    }

    .elementor-67 .elementor-element.elementor-element-6ca32091 {
        --width: 160px;
    }

    .elementor-67 .elementor-element.elementor-element-654ed55d .mf-btn-wraper {
        text-align: justify;
    }

    .elementor-67 .elementor-element.elementor-element-654ed55d .metform-btn {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-67 .elementor-element.elementor-element-29584e54 {
        --width: 46px;
        --min-height: 46px;
    }
}

@media(min-width: 768px) {
    .elementor-67 .elementor-element.elementor-element-35d0390 {
        --width:40%;
    }

    .elementor-67 .elementor-element.elementor-element-6ca32091 {
        --width: 160px;
    }

    .elementor-67 .elementor-element.elementor-element-29584e54 {
        --width: 59px;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-67 .elementor-element.elementor-element-35d0390 {
        --width:40%;
    }

    .elementor-67 .elementor-element.elementor-element-6ca32091 {
        --width: 160px;
    }

    .elementor-67 .elementor-element.elementor-element-29584e54 {
        --width: 53px;
    }
}
